/**
 * styles.scss
 * 
 * Personal Website
 * Tong Liu, Jan 2016
 */

/* = Main layout
------------------------------------------------------------------------------*/

$primary-color: #F1F3F3;
$secondary-color: #212026;
$primary-accent-color: #E6E9EA;

$title-font: 'Unica One', sans-serif;
$body-font: 'Abel', sans-serif;

$item-height: 800px;
$offset: 25%;
$offset-px: $item-height * .25;

body, html {
	overflow-x: hidden;
}

body {
	background-image: url('../assets/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}

header {
	position: absolute;
	top: 0;
	bottom: -$offset-px;
	left: 0;
	right: 0;
	color: $primary-color;
}

#items {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	top: -webkit-calc(100% + 4 * #{$item-height} - 3 * #{$offset-px});
	top: -moz-calc(100% + 4 * #{$item-height} - 3 * #{$offset-px});
	top: calc(100% + 4 * #{$item-height} - 3 * #{$offset-px});
	color: $primary-color;
	height: 100%;
	text-align: center;
	padding: 80px;
	box-sizing: border-box;
}

/* = Header
------------------------------------------------------------------------------*/

.header-wrapper {
	position: absolute;
	width: 100%;
	max-width: 640px;
	top: calc(50% - #{$offset-px} / 2);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 0 80px;
}

$nav-btn-height: 36px;
$nav-btn-width: 144px;

.link-bar {
	height: $nav-btn-height;
	line-height: $nav-btn-height;
	margin-top: 24px;
	-webkit-transition: 0.25s ease all;
	-o-transition: 0.25s ease all;
	transition: 0.25s ease all;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		width: $nav-btn-width;
		box-sizing: border-box;
		border: 2px solid $primary-color;
		border-radius: 2px;
		margin: 4px 10px;
		-webkit-transition: 0.25s ease-in background-color;
		-o-transition: 0.25s ease-in background-color;
		transition: 0.25s ease-in background-color;
	}

	li:hover {
		background-color: $primary-color;
	}

	a {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: bold;
		color: $primary-color;
	}

	a:hover {
		color: $secondary-color;
	}
}

/* = General items
------------------------------------------------------------------------------*/

.name {
	font-size: 58px;
	text-transform: uppercase;
	font-family: $title-font;
	margin: 0;
}

.tagline {
	font-family: $body-font;
	font-size: 24px;
}

.description {
	display: block;
	font-family: $body-font;
	font-size: 18px;
}

/* = Content items
------------------------------------------------------------------------------*/

.item {
	height: $item-height;
	position: relative;

	section {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 99;
	}

	.name {
		font-size: 48px;
		display: inline-block;
	}

	.tagline {
		margin: 18px 0;
	}
}

@for $i from 2 through 4 {
   .item:nth-of-type(#{$i}) {
       top: ($i - 1) * -200px;
   }
}

.text {
	height: 100%;
	padding: 80px;
	box-sizing: border-box;
}

.valign-wrapper {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.image {
	height: 100%;
	width: 40%;
	float: right;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.text-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	padding: 0 80px;
}

.companion {
	.name {
		background-image: url('../assets/companion.png');
		background-size: contain;
		height: 80px;
		width: 360px;
	}

	.image {
		background-image: url('../assets/device.png');
	}
}

.weebly {
	.name {
		background-image: url('../assets/weebly.png');
		background-size: contain;
		height: 75px;
		width: 200px;
	}

	.image {
		background-image: url('../assets/device.png');
		float: left;
	}
}

.clavis {
	.image {
		background-image: url('../assets/device.png');
	}
}

.and-more {
	.image {
		background-image: url('../assets/device.png');
		float: left;
	}
}

/* = Diagonals
------------------------------------------------------------------------------*/

.trapezoid {
	height: 100%;
	width: 100%;
}

$offset: 25%;

.trapezoid.one, .trapezoid.three {
	background-color: $primary-color;
	-webkit-clip-path: polygon(0 0, 100% $offset, 100%  100% - $offset, 0 100%);
	clip-path: polygon(0 0, 100% $offset, 100%  100% - $offset, 0 100%);
	clip-path: url('../clippath.svg#odd-trapezoid');
}

.trapezoid.two, .trapezoid.four {
	background-color: $primary-accent-color;
	-webkit-clip-path: polygon(0 $offset, 100% 0, 100% 100%, 0 100% - $offset);
	clip-path: polygon(0 $offset, 100% 0, 100% 100%, 0 100% - $offset);
	clip-path: url('../clippath.svg#even-trapezoid');
}

/* = Footer
------------------------------------------------------------------------------*/

#contact-heading {
	font-family: $title-font;
	font-size: 48px;
	text-transform: uppercase;
}

/* = WOW.js
------------------------------------------------------------------------------*/

.wow {
	display: hidden;
}
