/**
 * styles.scss
 * 
 * Personal Website
 * Tong Liu, Jan 2016
 */

/* = Main layout
------------------------------------------------------------------------------*/

$light-color: #EDEDED;
$dark-color: #212026;
$light-accent-color: #DEDEDE;

body {
	background-color: $light-color;
	color: $dark-color;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#left-col {
	position: fixed;
	overflow: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 60%;
}

#left-col:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $light-accent-color;
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transform: skew(-45deg);
	-ms-transform: skew(-45deg);
	transform: skew(-45deg);
	z-index: -1;
}

#right-col {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40%;
	overflow-x: hidden;
}

/* = Left col items
------------------------------------------------------------------------------*/

.valign-wrapper {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	box-sizing: border-box;
	padding: 0 80px;
}

$title-font: 'Unica One', sans-serif;
$body-font: 'Abel', sans-serif;

h1.name {
	font-size: 44pt;
	text-transform: uppercase;
	font-family: 'Unica One';
	margin: 0;
}

.name.weebly {
	background-image: url('../assets/weebly.png');
	height: 75px;
	width: 200px;
	background-size: contain;
}

.tagline {
	font-family: $body-font;
	font-size: 1.4em;
}

.description {
	display: block;
	font-family: $body-font;
	font-size: 1.2em;
}

$nav-btn-height: 36px;
$nav-btn-width: 144px;

.link-bar {
	height: $nav-btn-height;
	line-height: $nav-btn-height;
	margin-top: 24px;
	-webkit-transition: 0.25s ease all;
	-o-transition: 0.25s ease all;
	transition: 0.25s ease all;

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		display: inline-block;
		width: $nav-btn-width;
		box-sizing: border-box;
		border: 2px solid $dark-color;
		border-radius: 2px;
		margin-top: 4px;
		margin-right: 20px;
		-webkit-transition: 0.25s ease-in background-color;
		-o-transition: 0.25s ease-in background-color;
		transition: 0.25s ease-in background-color;
	}

	li:hover {
		background-color: $dark-color;
	}

	a {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: bold;
		color: $dark-color;
	}

	a:hover {
		color: $light-color;
	}
}

/* = Right col items
------------------------------------------------------------------------------*/

$phone-width: 510px;
$phone-height: 873px;

.img-wrapper {
	height: 100%;
	width: 100%;
	background-color: $light-color;

	.nexus-5x {
		display: inline-block;
		height: 100%;
		max-width: $phone-width;
		max-height: $phone-height;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}