/**
 * styles.scss
 *
 * We'll see about this one.
 */

/*= Main
------------------------------------------------------------------------------*/

$bg-color: #FFFFFF;
$title-color: #1D5086;
$font-color: #000000;
$line-color: #000000;

$item-spacing: 20px;

html, body {
	position: relative;
	height: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	background-color: $bg-color;
}

.main-wrapper {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
	max-width: 720px;
	padding: 0 80px;
	box-sizing: border-box;
	font-family: 'Ubuntu Mono';
}

.name {
	border-bottom: 3px solid $line-color;
	color: $title-color;

	h1 {
		margin: $item-spacing 0;
		font-size: 3em;
	}
}

.words {
	font-size: 1.4em;
	color: $font-color;
	margin: $item-spacing 0;
}

.buttons ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
	}
}

.button {
	$button-height: 32px;

	display: inline-block;
	border-bottom: 2px solid $line-color;
	font-size: 1.6em;
	color: $font-color;
	text-decoration: none;
	margin-right: 10px;
	transition: 0.5s ease color;
	position: relative;
	height: $button-height;
	line-height: $button-height;
	cursor: pointer;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -2px;
		height: $button-height + 2px;;
		width: 100%;
		background-color: $line-color;
		transform: scale(1, 0) translate3D(0, 0, 0);
		transform-origin: 50% 100%;
		z-index: -1;
		transition: 0.5s ease transform;
	}

	&:hover {
		color: $bg-color;

		&::after {
			transform: scale(1.1, 1) translate3D(0, 0, 0);
		}
	}

	&--disabled {
		opacity: 0.5;
		cursor: not-allowed;

		&:hover {
			color: $font-color;

			&::after {
				transform: scale(1, 0) translate3D(0, 0, 0);
			}
		}
	}
}

.cursor {
	display: inline-block;
	width: 0.6em;
	height: 1em;
	margin-bottom: -2px;
	background-color: $font-color;
}

.blink {
	animation: 1.5s blink ease-out infinite;
}

@keyframes blink {
	from, to {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

/*= Contact Page
------------------------------------------------------------------------------*/

.section-heading {
	color: $title-color;
	border-bottom: 3px solid $line-color;
	display: inline-block;

	h2 {
		margin: 5px 0;
		font-size: 2.5em;
	}
}

.contact-form {
	margin: 0 auto;

	.button {
		margin: 5px 0 0;
	}
}

.form-field {
	$input-height: 54px;

	margin: $item-spacing 0;
	position: relative;
	max-width: 492px;
	height: $input-height;

	label {
		color: $font-color;
		font-size: 1.4em;
		display: block;
	}

	input, textarea {
		width: 100%;
		height: $input-height - 22px;
		font-size: 1em;
		margin: 0;
		padding: 6px 9px;
		border: none;
		border-bottom: 2px solid $line-color;
		box-sizing: border-box;
		font-family: 'Ubuntu Mono';
		background-color: transparent;

		&:focus {
			outline: none;
		}
	}

	textarea {
		resize: none;
	}

	&::before, &::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		height: 10px;
	}

	&::before {
		left: 0;
		border-left: 2px solid $line-color;
	}

	&::after {
		right: 0;
		border-right: 2px solid $line-color;
	}
}

.profile-buttons a {
	text-decoration: none;
}

.profile-button {
	display: inline-block;
	height: 30px;
	margin: ($item-spacing * 1.5) 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 50%;

	&--github {
		background-image: url('../assets/github.png');
		background-position: -4px 50%;
		width: 70px;
	}

	&--linkedin {
		background-image: url('../assets/linkedin.png');
		width: 80px;
	}
}

/*= Responsive
------------------------------------------------------------------------------*/

@media screen and (max-width: 500px) {
	.main-wrapper {
		padding: 0 40px;
	}
}

@media screen and (max-width: 400px) {
	.main-wrapper {
		padding: 0 20px;
	}
}
